<mat-toolbar class="toolbarNav">
  <button
    mat-flat-button
    routerLink="/products"
    routerLinkActive="active-link"
  >
    <mat-icon class="material-icons color_blue"> category</mat-icon>
    <span>Products</span>
  </button>
  <button
    mat-flat-button
    routerLink="/suppliers"
    routerLinkActive="active-link"
  >
    <mat-icon class="material-icons color_blue">local_shipping </mat-icon>
    <span>Suppliers</span>
  </button>
  <button mat-flat-button routerLink="/orders" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue">receipt_long</mat-icon>
    <span>Orders</span>
  </button>
</mat-toolbar>
