<mat-form-field appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
        <td mat-cell *matCellDef="let row"> 
            <span><b>{{row.ProductName}}</b> </span> <br/>
            <small>{{row?.Category?.CategoryName}} <span *ngIf="row.Category && row.Supplier">/</span> {{row?.Supplier?.CompanyName}} </small>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity per unit </th>
        <td mat-cell *matCellDef="let row"> {{row.QuantityPerUnit}} </td>
      </ng-container>
  

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit price </th>
        <td mat-cell *matCellDef="let row"> {{row.UnitPrice | currency:"USD"}} </td>
      </ng-container>
  
 
      <ng-container matColumnDef="unitsInStock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Units in stock</th>
        <td mat-cell *matCellDef="let row"> {{row.UnitsInStock}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let row"> 
          <button [disabled]="row.UnitsInStock == 0" mat-icon-button color="primary" (click)="openDialog(row.ProductId)">
            Buy
          </button>  
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="10" aria-label="Select page of users"></mat-paginator>
  </div>